{% extends 'base.html' %}
{% load static %}
{% block title %}Contact{% endblock %} 
{% block content %}

<!-- All Phone Contact Details for GibJohn Tutoring -->
<div class="container my-5">
    <h5 class="fs-4">Contact via Phone</h5>
    <span class="fs-5 d-block">Learning Support: +44 7964 839213</span>
    <span class="fs-5 d-block">Technical Support:  +44 7964 839213</span>
</div>

<!-- All Email Contact Details for GibJohn Tutoring -->
<div class="container my-5">
    <h5 class="fs-4">Contact via Email</h5>
    <span class="fs-5 d-block">Learning Support: learningsupport@gibjohn.co.uk</span>
    <span class="fs-5 d-block">Technical Support: technicalsupport@gibjohn.co.uk</span>
</div>

<!-- All Social Medias for GibJohn Tutoring -->
<div class="container my-5">
    <h5 class="fs-4">Contact via Social Media</h5>
    <span class="fs-5 d-block"><i class="bi bi-facebook me-2 "></i>GibJohn Tutoring <a href="#" class="link-info">(Link)</a></span>
    <span class="fs-5 d-block"><i class="bi bi-instagram me-2 "></i>gibjohn_tutoring <a href="#" class="link-info">(Link)</a></span>
    <span class="fs-5 d-block"><i class="bi bi-twitter me-2 "></i>@gibjohn_tutoring <a href="#" class="link-info">(Link)</a></span>
    <span class="fs-5 d-block"><i class="bi bi-snapchat me-2 "></i>gibjohn_tutoring <a href="#" class="link-info">(Link)</a></span>
    <span class="fs-5 d-block"><i class="bi bi-discord me-2 "></i><a href="#" class="link-info">Join the Discord Server</a></span>
    <span class="fs-5 d-block"><i class="bi bi-youtube me-2 "></i><a href="#" class="link-info">Check out YouTube Channel</a></span>
</div>
{% endblock %}