{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %} 
{% block content %}

<!-- Displays any errors that the Form gives back -->
{% if form.errors %}
<div class="alert alert-danger" style="text-decoration: none; list-style: none;">
    <span class="fs-6">{{form.old_password.errors}}</span>
    <span class="fs-6">{{form.new_password1.errors}}</span>
    <span class="fs-6">{{form.new_password2.errors}}</span>
</div>
{% endif %}

<!-- Form that changes the password of the user's account -->
<h3 class="h3 text-center my-4">Change Password</h3>
<form method="post" class="text-center">
    {% csrf_token %}

    <span class="form-label fw-bold">Old Password</span>
    {{form.old_password}}
    <span class="form-label fw-bold">New Password</span>
    {{form.new_password1}}
    <span class="form-label fw-bold">Confirm New Password</span>
    {{form.new_password2}}

    <div class="d-block">
        <input class="btn btn-primary my-2 me-2" style="width:150px;" type="submit" value="Confirm Details">
        <a class="btn btn-secondary my-2 ms-2" style="width:150px;" href="{% url 'user_view' %}">Back</a>    
    </div>
</form>
{% endblock %}